<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" IgnorableNamespaces="uap mp iot">
  <Identity Name="ME.MirrorsEdgeV1Alpha" Publisher="CN=Admin" Version="1.1.25.0" />
  <mp:PhoneIdentity PhoneProductId="5e061643-af21-4105-4a96-3b31c62e1446" PhonePublisherId="50301346-6564-4135-4647-201280359026" />
  <Properties>
    <DisplayName>MirrorsEdge v1.1.25a</DisplayName>
    <PublisherDisplayName>Admin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GameManager.App">
      <uap:VisualElements DisplayName="MirrorsEdge 1.1.25a" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="MirrorsEdge UWP game project" BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="removableStorage" />
    <iot:Capability Name="systemManagement" />
  </Capabilities>
</Package>